.box-news-header {
    height: 240px;
}

.box-news-body {
    height: 400px;
}

.box-news-header,
.box-news-body {
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 6px 0px rgba(115, 115, 115, 1);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(115, 115, 115, 1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(115, 115, 115, 1);
}

.box-news-header .info-news-header,
.box-news-body .info-news-body {
    color: #fff;
    background: rgba(25, 25, 25, 0.9);
    padding: 8px 16px;
}

.box-news-header .info-news-header h2,
.box-news-body .info-news-body h2 {
    font-size: 16px;
}

.box-news-header .info-news-header p:first-child,
.box-news-body .info-news-body p:first-child {
    margin-bottom: 8px;
    font-style: italic;
    font-size: 12px;
}

.box-news-body .info-news-body p:last-child {
    margin-bottom: 8px;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .box-news-header .info-news-header h2,
    .box-news-body .info-news-body h2 {
        font-size: 14px;
    }
    .box-news-header .info-news-header p:first-child,
    .box-news-body .info-news-body p:first-child {
        font-size: 10px;
        line-height: 1.25;
    }
    .box-news-body .info-news-body p:last-child {
        font-size: 12px;
        line-height: 1.25;
    }
}